.App {
  text-align: center;
  display:flex;
  flex-direction: row;
  height:80%;
  width:100vw;
  flex-wrap: wrap;
}

.tile{
  margin:2%;
  width:10vw;
}

img{
  width:199px;
  height:253px;
}

.scoreCard{
  text-align: center;
}

.photo-show,.gameOn{
  display:show;
}

.photo-hide,.gameOver{
  display:none;
}
